---
version: 2

updates:
  # Enable version updates for npm
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
      semver-major-days: 15
      semver-minor-days: 7
      semver-patch-days: 3
    labels:
      - "dependencies"
      - "npm"
    rebase-strategy: auto
    groups:
      major:
        update-types:
          - "major"
      minor-and-patch:
        update-types:
          - "patch"
          - "minor"
    open-pull-requests-limit: 10

  # Enable version updates for GitHub Actions
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
    reviewers:
      - CandiedCode
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 10
