---
BasedOnStyle: Microsoft
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
---
