---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-merge-conflict
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--strict]
        types_or: [yaml]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: cpplint
        name: cpplint
        description: Run cpplint on C++ files
        entry: cpplint
        language: python
        types: [c++]
        exclude: ^build/
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format
        types: [c++]
        exclude: ^build/
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        name: clang-tidy
        description: Run clang-tidy static analysis
        entry: clang-tidy
        language: python
        types: [c++]
        exclude: ^build/
