name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-lint:
    runs-on: ubuntu-slim

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Cpp
      uses: aminya/setup-cpp@v1
      with:
        compiler: gcc
        vcvarsall: false
        cmake: true
        ninja: true
        vcpkg: true
    - name: Install X11 and SFML dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libudev-dev libgl1-mesa-dev libglu1-mesa-dev

    - name: Create build directory
      run: mkdir -p build

    - name: Run CMake
      run: cd build && cmake ..
    - name: Build with CMake
      run: cd build && cmake --build . --config Release
    - name: Run cpplint with reviewdog
      uses: cpp-linter/cpp-linter-action@v2
      id: linter
      with:
          style: 'file' 
